
.music-box{
    margin-top: 12px;
    font-weight: normal;
    color: orange;
    cursor: pointer;
    border-bottom: #333333 solid 2px;
}

.music-info{
    width: 100%;
    background-color: gray;
    padding: 1%;
    height: 80px;
    display: flex;
}

.music-img{
   width: 70px;
    height: 70px;
}

.music-img img{
    width: 60px;
    height: 50px;
    margin: 5% 5%;
    padding: 1px;
}

.add-btn{
    padding: 10px 15px;
    position: absolute;
    left:1%;
    margin-top: 7%;
    background-color: #4D4D4D;
    font-size: 38px;
    font-weight: 900;
    text-decoration: none;
    color: orange;
    border-radius: 50%;
}

h1{
    float: left;
    margin-right: 5%;
    margin-bottom: 10%;
}
.voice{
    width: 250px;
    height: 70px;
    margin: 2px 5px;
    padding: 1px;
}

.music-name{
    width: 300px;
    padding: 0 5px;
    height: 50px;
}

.music-name h3{
    margin-top: 7px;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
    line-height: 15px;
}

.music-name p{
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #e1e1e1;
    line-height: 1px;
}

/*.music-time{*/
/*    position: absolute;*/
/*    right: 1%;*/
/*}*/

.trash{
    margin-top: 1%;
    position: absolute;
    right: 1%;
}