body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #555;
  margin: auto;
  width: 50%;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.App{
  background: #424242;
  margin: 20px;
  width: 90%;
  max-width: 700px;
  color: orange;

}

a{
  color: orange;
  font-size: 21px;
  text-decoration: none;
}

a:hover{
  opacity: 0.7;
}


.navbar{
  padding: 10px 20px;
  text-align: center;
  background: #333;
}

.navbar h1{
  margin: 10px 0;
}

.book-list{
  margin: 20px;
}
.book-list ul{
  padding: 0;
  list-style-type: none;
}
.book-list li{
  background:#333;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.book-list li:hover{
  opacity: 0.7;
}
.book-list .title{
  font-weight: bold;
  margin-left: 5%;
  color: orange;
}

.book-list .author{
  font-size: 0.9em;
  color: orange;
}
.empty{
  margin: 20px;
  text-align: center;
}

.music-info{
  padding: 1% 0 1% 0;
  display: flex;
}

.music-img{
  width: 90px;
  height: 90px;
}

.music-img img{
  width: 80px;
  height: 70px;
  margin-top: 30%;
  padding: 5%;
}

.trash{
  margin-top: 2%;
  height: 40px;
  position: absolute;
  right: 40%;
}

.search{
  height: 40px;
  position: absolute;
  cursor: pointer;
}
.add-btn{
  padding: 10px 15px;
  margin-left: 25%;
  margin-top: 2%;
  position: absolute;
  background-color: #4D4D4D;
  font-size: 38px;
  font-weight: 900;
  text-decoration: none;
  color: orange;
  border-radius: 50%;
}

form{
  padding: 20px;
  margin: 5%;
  box-shadow: 0 0 12px 3px black;
}
input[type='text']{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #555555;
  color: orange;
  border: 0;
}
input[type='submit']{
  margin: 10px auto;
  background: #333;
  color: orange;
  box-shadow: 0 0 14px 0px black;
  border: 0;
  padding: 6px 20px;
  display: block;
}